*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}
/* INTRODUÇÃO */
body{
   background-color: #070707;
}

#logo{
    position: absolute;
width: 333px;
height: 174px;
left: 48px;
}
.sobre{
margin-top: 20px;
position: absolute;
left: 60%;
top: 10%;
    font-family: 'Adamina';
font-style: normal;
font-weight: 00;
font-size: 32px;
color: #FFFFFF;
}

.ButtonLogin{
    position: absolute;
left: 80%;
top: 12.4%;
font-family: 'Adamina';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 44px;
color: #000000;
    width: 150px;
    background: #ffffff;
    
    border-radius: 17px;
    text-align: center;
    user-select: none;
    cursor: pointer;
    font-size: 140%;
    transition: background 1s;
}
/* a:hover{
    background: #1A2818;
    color: #FFFFFF;
} */
div{
    text-align: center;
    
}
.banner {
 background-image: url(winnie-harlow-harpers-bazaar-04-removebg-preview\ 5.png);
 background-size: 700px 900px ;
 width: 110vw;
 height: 720px;

 background-repeat: repeat-x;
}
.banner1{
    display: flex;
    justify-content: center;
    text-align: center;
}

.bannerTexto{
    color: #ffffff;
    font: 600 120px 'Adamina';
    margin: 0;
    font-size: 108px;
}

.mulherFrente{
    position: absolute;
    z-index: 999;
   
}

    .logo1 {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border-color: rgb(255, 255, 255);
        padding: 0px 100px;
        background-color: #FFFFFF;
        margin: 70px 0px;
      }

/* FIM DA INTRODUÇÃO */
 
/* BOTOES PARA OUTRAS PAGINAS */
.ImagensBotoes {
    display: flex;
  justify-content: space-around;
  align-items: center;
}
.um{
    border: 4px solid #244B1C;
    border-radius: 20px;
}
.um:hover{
    border: 4px solid #000000;
    content: url("Property\ 2=Variant2.png");
}
.dois{
    border: 4px solid #6D2A96;
    border-radius: 20px;
}
.dois:hover{
    border: 4px solid #000000;
    content: url("Property\ 1=Variant2.png");
}
.tres{
    border: 4px solid #8C5224;
    border-radius: 20px;
}
.tres:hover{
    border: 4px solid #000000;
    content: url("Property\ 3=Variant2.png");
}
 
.text{
    color: rgb(255, 255, 255);
}
.text1{
    color: rgb(255, 255, 255);
}
.text2{
    color: rgb(255, 255, 255);
}
/* TERMINO DE BOTOES PARA OUTRAS PAGINAS */

/* CARROSEL DE IMAGEM - TENTAIVA */
.desfile{
    color: rgb(255, 255, 255);
    margin: 70px 70px 30px;
}
/* FEEDBACK */
.francisco{
    background-color: #ffffff;
    height: 2px;
    margin-bottom: 20px;
    width: 860px;
    margin-left: 30px;
}
.History{
    color: #FFFFFF;
    font-size: 50px;
    margin-left: 35px;
}
.History1{
    color: #FFFFFF;
    margin: 10px 35px;
}
h4{
    color: #FFFFFF;
}
section{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
form{
    padding: 18px 35px 35px;
}
textarea{
    padding: 10px;
    outline: none;
    border-radius: 12px;
    height: 70px;
    width: 600px;
    transition: all 0.5s;
}
textarea:focus{
    border-radius: 20px;
}
.francisco1{
    background-color: #ffffff;
    height: 2px;
    margin-bottom: 20px;
    width: 860px;
    margin-left: 30px;}

.peticao{
    position: absolute;
margin-left: 875px;
font-family: 'Abhaya Libre ExtraBold';
font-size: 26px;
color: #FFFFFF;
margin-top: -12px;
}
.impactos{
    padding: 40px 10px;
}
.Component7{
    margin-left: 930px;
   width: 280px;
   height: 180px;  
}
.Component7:hover{
    content: url(Property\ 1=Group\ 71.png);
}

.textPeticao{
    color: #FFFFFF;
    margin-left: 860px;
    font-weight: 480px;
    font-size: 28px;
    width: 402px;
    font-family: 'Archivo Black', sans-serif;
   margin-top: 11px;
}
/* CURIOSIDADES */
.SeçaoCuriosidades{
 display: flex;
}
.lampada{
    margin-left: 50px;
    padding: 15px 10px;
}
.CURIOSIDADES{
    color: #FFFFFF;
    font-size: 55px;
    margin: 30px;
}
.ImagensCuriosidades {
    display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5px;

}
.quatro{
    border-radius: 25px;
    height: 520px;
    margin-top: 30px;
}
.quatro:hover{
    content: url("Property\ 1=Group\ 72.png");
}
.cinco{
    border-radius: 25px;
    height: 510px;
}
.cinco:hover{
    content: url("Property\ 1=Group\ 73.png");
}
.seis{
    border-radius: 25px;
    height: 510px;
}
.seis:hover{
    content: url("Property\ 1=Group\ 74.png");
}
 
.text3{
    color: rgb(255, 255, 255);
    font-family: 'Archivo Black', sans-serif;
    padding-top: 5px;
}
.text4{
    color: rgb(255, 255, 255);
    font-family: 'Archivo Black', sans-serif;
    padding-top: 10px;
}
.text5{
    color: rgb(255, 255, 255);
    font-family: 'Archivo Black', sans-serif;
    padding-top: 10px;
}

/* PODCASTS */
.SeçaoPodcast{
    margin-top: 65px;
    display: flex;
    align-items: center;
}
.PodcastsSecao{
    color: #FFFFFF;
    margin-left: 450px;
    font-size: 60px;
    padding-top: 20px;
}
.fone{
   padding-left: 15px;
}
.line{
  background-color: #ffffff;
   height: 2px;
   margin-bottom: 20px;
  width: 860px;
 margin-left: 230px;
}

.text3{
        font: 700 18px 'Mont', sans-serif; 
        font-size: 30px;
    }
.descricao{
    color: #E3AD84;
    font-size: 20px;
}
.podcast{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.podcast1{
    width: 370px;
}
.podcast1:hover{
        border: 8px solid #ffffff;
}
.spotify{
    width: 30px;
   margin: -35px 0 0 280px ;
}
.ouvir{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
main{
    display: flex;
    justify-content: space-between;
    padding: 10px 10%;
}
h3{
    padding: 12px 0 40px 0;
    text-align: center;
    color:#FFFFFF ;
    font-size: 25px;
    font-weight: lighter;
}
/* filmes */
.SeçaoMovie{
    display: flex;
    justify-content: center;
    align-items: center;
}
.movies{
    color: #FFFFFF;
    font-size: 55px;
    padding: 35px 7px 0 0;
}
.line1{
    background-color: #ffffff;
    height: 2px;
    margin-bottom: 20px;
   width: 860px;
  margin-left: 230px
}
.rolo{
    margin-top: 20px;
}
.cruelaMovie{
    width: 900px;
    margin-left: 200px;
}
/* SobreNos */
.container img{
    float:left;
    margin-right: 15px;
}
.Textgisele{
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    font-size: 55px;
}
.gisele{
    margin-left: 70px;
}
.line3{
    background-color: #ffffff;
    height: 2px;
    margin-bottom: 20px;
   width: 860px;
  margin-left: 230px;
}

.SobreNos{
    color: #FFFFFF;
    font-size: 35px;
    text-align: justify;
    margin: 40px 80px;
}
/* BOTOES */
.LineTodo{
    background-color: #ffffff;
    height: 3px;
    margin-bottom: 20px;
   width: 1340px;
}
.botoesLink{
    color: #FFFFFF;
    text-align: center;
    font: 700 18px 'Mont', sans-serif; 
    font-size: x-large;
    padding: 12px 0 25px 0;
}
.TextBotoes{
    display: flex;
    flex-direction: column;
}
.ContainerText{
    display: flex;
    justify-content: space-around;
}

/* RODAPE */
.Rodapé{
    display: flex;
    flex-direction: column;
    padding: 10px 30PX;
}
.ContainerRodape{
    display: flex;
    justify-content: space-around;
}
.Text7{
    font-size: 35PX;
}
.Criadoras{
    padding: 20px;
}
.SpaceFotos1{
    padding:0 8px;
    width: 95px;
}
.Text8{
    font-size: 35PX;
}
.MIDIASContainer{
    padding: 20px;
}
.SpaceLogos{
    padding:0 3px;
    width: 75px;
}
/* EVOLUÇÃO DAS PASSARELAS - PAGINA */
.EvoluçaoModa{
   background-color:#1A2818 ; 
}
.ButtonEvolucao{
    padding: 40px 106px 0 106px;
}
.LogoEvolucao{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Faixa{
    height: 150px;
    background-color: #23411E;
}
.TextEvolucao, .TextEvolucao1{
    color: #FFFFFF;
    text-align: center;
    display: inline-block;
    width: 36.8%;
}
.TextEvolucao{
    font-size: 96px;
    margin-top: 30px;
}
.TextEvolucao1{
    font-size: 40px;
}
.ButtonAncora{
    display: flex;
    justify-content: space-between;
}
.ButtonTeste1{
    padding: 10px 30px;
    font-size: 17px;
    color: #FFFFFF;
    margin-top: 10px;
    text-align: center;
}
.ponto{
    margin-top: 20px;
    color: #FFFFFF;
}
.DesfileContaine{
    display: flex;
    flex-direction: column;
  justify-content: center;
  align-items: center;
}
.EvolucaoImg{
    width: 1000px;
    padding: 40px 0 20px 0;
}
.TextDesfile{
    font-weight: 400;
font-size: 34px;
line-height: 44px;
color: #FFFFFF;
margin: 0 90px 30px;
}
/* OS PRIMEIROS DESFILES */
.LinhaFina{
    background-color: #ffffff;
    height: 1px;
    margin-bottom: 30px;
   width: 1100px;
   margin-left: 9%;
}
.Texttitulo{
    color: #FFFFFF;
    font-weight: 700;
font-size: 76px;
text-align: center;
}
.medidas{
    margin-right: 600px;
}
.lineDesfile{
    background-color: #ffffff;
    height: 1px;
    margin-bottom: 20px;
   width: 300px;
  margin: -50px 650px 0 650px;
}
.TextSeculo{
    color: #FFFFFF;
    margin-left: 20%;
    padding-top: 10px;
    font-size: 40px;
}
.SobreTitulo{
    margin-top: 60px;
}
.SobreHistoria{
    display: flex;
    margin: -360px 200px 0 600px ;
    font-size: 35px;
    font-weight: 20%;
line-height: 44px;
text-align: justify;
color: #FFFFFF;
}
.LinhaFina1{
    background-color: #ffffff;
    height: 1px;
    margin-bottom: 30px;
   width: 1100px;
   margin-left: 9%;
   margin-top: 150px;
}
/* ANOS 20 E 30 */
.TextAno{
    padding: 50px 280px;
    color: #FFFFFF;
    font-weight: 700;
font-size: 64px;
line-height: 76px;
}
.SobreAnos20{
    margin-left: 120px;
    font-size: 32px;
line-height: 44px;
text-align: justify;
color: #FFFFFF;
}
.DividindoAno{
    float: right;
   margin-left: 11%;
}
.MulherAno{
    margin-right: 210px;
    margin-top: -110px; 
}
.BordaAno{
   margin: 110px 150px;
    padding: 30px 83px;
    background: #23411E;
border-radius: 25px;
color: #FFFFFF;
font-size: 32px;
line-height: 44px;
text-align: center;
box-shadow: 0px 0px 5px 0px rgb(26, 24, 24);
}
.ImagensAssinaturas{
    display: flex;
    margin: -20px 20%;
    /* margin-top: -20px; */

}
.imagemRedonda{
    width: 300px;
}
.imgAnos{
    padding: 10px;
    width: 80px;
    margin: 0 150px;
}
.Assinatura{
    width: 250px;
}
.LinhaFina3{
    background-color: #ffffff;
    height: 1px;
    margin: 35px;
   width: 1100px;
   margin-left: 9%;
}
/* ANOS 40 */
.Moda{
    display: flex;
    flex-direction: column;
  justify-content: center;
}
.TextModa{
    color: #FFFFFF;
    font-size: 64px;
line-height: 76px;
margin-bottom: 15px;
}
.ParagrafoModa{
    color: #FFFFFF;
    font-size: 32px;
line-height: 44px;
    margin: 0 12%;
}
.ParagrafoModa1{
    color: #FFFFFF;
    font-size: 32px;
line-height: 44px;
    margin: 0 12%;
}
.ModaDior{
    padding: 25px 0 40px 0;
}
.ImagensModa{
    display: flex;
}
.imgModa{
    padding: 10px;
  width: 280px;
  margin: 0 165px;
}
.ImgDuplaModa{
    width: 400px;
}
.ParagrafoModa{
   width: 350px;
   color: #FFFFFF;
   font-size: 32px;
line-height: 44px;
text-align: justify;
}
.BordaAno1{
    margin: 20px 150px;
     padding: 30px 83px;
     background: #23411E;
 border-radius: 25px;
 color: #FFFFFF;
 font-size: 32px;
 line-height: 44px;
 text-align: center;
 box-shadow: 0px 0px 5px 0px rgb(26, 24, 24);
 }
 .ImagensAssinaturas{
    display: flex;
}
.imagemRedonda{
    width: 300px;
}
.img40{
  padding: 10px;
  width: 80px;
  margin: 0 150px;
}
.Assinatura{
    width: 250px;
}
.SetaPagina{
    margin-top: 20%;
    z-index: 10px;
}
/* ANOS 50 */
.EvolucaoEpoca{
    display: flex;
   margin: 90px;
}
.TextAnos{
   margin: -10px 200px 30px 240px;
   font-size: 64px;
text-align: center;
color: #FFFFFF;
}
.Paragrafo50{
   position: absolute;
   margin: 100px 200px 0px 450px;
   font-size: 32px;
line-height: 44px;
text-align: justify;
color: #FFFFFF;
}
.BordaAno2{
    margin: -40px 150px 20PX;
     padding: 30px 83px;
     background: #23411E;
 border-radius: 25px;
 color: #FFFFFF;
 font-size: 32px;
 line-height: 44px;
 text-align: center;
 box-shadow: 0px 0px 5px 0px rgb(26, 24, 24);
 }
 /* ANOS 60 */

.MovimentoAno{
    margin-right: 130px;
    margin-top: -110px; 
}
.TextAno1{
    padding: 50px 220px;
    color: #FFFFFF;
font-size: 64px;
}

.TextAno2{
    padding: 90px 0px 30px 820px;
    color: #FFFFFF;
font-size: 64px;
}
.SobreAnos60{
    margin: 0 120px 0 620px;
    font-size: 32px;
line-height: 44px;
text-align: justify;
color: #FFFFFF;
}
.MovimentoAno1{
    margin-right: 810px;
    margin-top: -510px;
}
.ContainerImg{
display: flex;
margin-top: 100px;
margin-left: 100px;
}
.MovimentoImg{
    float: right; 
    margin: 20px 80px;
}
.ParagrafoContainer{
    margin-top: 90px;
    color: #FFFFFF;
    font-size: 32px;
line-height: 44px;
text-align: justify;
}
.ContainerImg60{
display: flex;
margin-top: 40px;
margin-left: 100px;
}
.MovimentoImg60{
    float: right; 
    margin: 20px 105px;
}
.ParagrafoBorda{
     padding: 40px 43px 10px;
     margin: 50px -20px;
     background: #23411E;
 border-radius: 25px;
 color: #FFFFFF;
 font-size: 32px;
 line-height: 44px;
 text-align: center;
 box-shadow: 0px 0px 5px 0px rgb(26, 24, 24);
}
/* ANOS 80 */
.ParagrafoModa2{
color: #FFFFFF;
    font-size: 32px;
line-height: 44px;
    margin: 0 12%;
    text-align: justify;
}
.imagemRedonda1{
    width: 200px;
}
.img80{
  padding: 30px;
  width: 40px;
  margin: 0 110px;
}
.Assinatura1{
    width: 190px;
}
/* ANOS 90 */
.ImgAnos80{
    display: flex;
  justify-content: space-evenly;
}
.TamImg{
   margin-top: 50px;
}
.oito:hover{
    content: url("Property\ 1=Variant20.png");
}
.nove:hover{
    content: url("Property\ 1=Variant3.png");
}
.dez:hover{
    content: url("Property\ 1=Variant4.png");
}
.onze:hover{
    content: url("Property\ 1=Variant5.png");
}
.BordaFina{
    padding: 20px 43px 10px;
    margin: 50px -20px;
    border: 1px solid #FFFFFF;
border-radius: 25px;
color: #FFFFFF;
font-size: 32px;
line-height: 44px;
text-align: center;
}
.ParagrafoModa3{
    color: #FFFFFF;
        font-size: 32px;
    line-height: 44px;
        margin: 20px 120px 30px;
        text-align: justify;
    }
 /* ANOS 2000    */
    .TextCenter{
        color: #FFFFFF;
        font-size: 64px;
    text-align: center;
    margin-bottom: 15px;
    }    
    .ContainerImg20{
display: flex;
margin-top: 40px;
margin-right: 100px;
}
.BordaFina1{
    padding: 20px 43px;
    margin: 50px -20px;
    border: 1px solid #FFFFFF;
border-radius: 25px;
color: #FFFFFF;
font-size: 32px;
line-height: 44px;
text-align: center;
}

.lineDesfile1{
    background-color: #ffffff;
    height: 1px;
   width: 440px;
  margin: -7px 650px 10px 430px;
}
.TextSeculo1{
    color: #FFFFFF;
    margin-right: 55px;
    padding-top: 30px;
    font-size: 60px;
}
.SobreTitulo1{
    text-align: center;
}
.TextLine{
    display: flex;
    padding-top: 20px;
}
.ParagrafoLinha{
    padding: 0 100px;
    font-size: 32px;
line-height: 44px;
text-align: justify;
color: #FFFFFF;
}
.LineVertical{
    border-left: 1px solid white;
    height: 220px;
    position: absolute;
   margin-top: -21rem;
    left: 50%;
    color: #FFFFFF;
}
.TextTitulo1{
    font-size: 48px;
text-align: center;
color: #FFFFFF;
padding: 60px 250px;
}

.VictoriaImg{
    width: 250px;
    padding-bottom: 20%;
}

main1{
    display: flex;
    justify-content: space-around;
    padding: 10px 12%;
}
.doze:hover{
    content: url("Property\ 1=Variant10.png");
}
.treze:hover{
    content: url("Property\ 1=Variant7.png");
}
.quatorze:hover{
    content: url("Property\ 1=Variant6.png");
}
.quinze:hover{
    content: url("Property\ 1=Variant9.png");
}
.dezesseis:hover{
    content: url("Property\ 1=Variant8.png");
}
.dezessete:hover{
    content: url("Property\ 1=Variant11.png");
}

/* momentos iconicos */

.TextNumeros{
    font-size: 96px;
    color: #ffffff;
    margin-left: 12%;
}
.Titulo{
    text-align: center;
    color: #FFFFFF;
    font-size: 64px;
    margin: 20px;
} 
.TituloEvolucao{
    display: flex;
}

.TituloNumeros{
    display: flex;
    padding: 40px;
}
.Subtitulo{
    font-size: 40px;
line-height: 47px;
text-align: center;
color: #FFFFFF;
margin: 30px 30px;
}
.Numeros{
    margin-left: 80px;
}

.ContainerImg1{
    display: flex;
    margin-top: -55px;
    margin-right: 80px;
    margin-left: 110px;
    margin-bottom: 5rem;
    }
    
    .ParagrafoContainer{
        margin: 40px 10px 0 25px;
        color: #FFFFFF;
        font-size: 32px;
    line-height: 44px;
    text-align: justify;
    }

    .EvolucaoEpoca1{
    display: flex;
   margin: 0px 130px 30px;
}
.Paragrafo0{
   margin: 40px 70px;
   font-size: 32px;
line-height: 44px;
text-align: justify;
color: #FFFFFF;
}
/* RODAPE */
.RodapéPaginas{
    width: 100%;
    background: #1E401B;
}
.lineRodape{
    background-color: #ffffff;
    height: 1px;
    margin-top: -3.5rem;
}

#FooterRodape{
     display: grid;
    grid-template-columns: repeat(3, 1fr); 
    padding: 3rem 3.5rem;
}

#FooterRodape h2{
    margin-bottom: 1.5rem;
    color: #FFFFFF;
    margin-top: 3.5rem ;
    height: 0.75rem;
    font: 700 18px 'Mont', sans-serif; 
    font-size: 24px;
}
#FooterContatos h1{
    margin-bottom: 2rem;
    color: #FFFFFF;
    margin-right: 50px;
}
#FooterMidias{
    display: flex;
    gap: 0.75rem;
    margin-top: 1rem;
}
#FooterContent{
    margin-top: 2.5rem;
}
#FooterImg{
    height: 4rem;
}
html{
    scroll-behavior: smooth;
}
/* BOTAO SCROLL */
/* #botaoscroll { 
    background-color: #6D2A96;
    border: none;
    border-radius: 50%;
    color: rgb(255, 254, 255);
    cursor: pointer;
    font-size: 10px;
    width: 50px;
    height: 50px;

    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;
    opacity: 0;
    transform: translateY(100px);
    transition: all 0.5s ease;
}
#botaoscroll.showBtn{
    opacity:1 ;
    transform: translate(0);
} */

/* PAGINA DE CONSCIENTIZAÇÃO DA MODA */
#ConscientizaçãoModa{
    background-color: #472B5E;
}
.ButtonModa{
    padding: 40px 106px 0 106px;
}

.Faixa1{
    height: 150px;
    background-color: #CAADE3;
}
.TextConcientizaçao, .TextEvolucao2{
    color: #FFFFFF;
    text-align: center;
    display: inline-block;
    width: 42.8%;

    
}
.TextConcientizaçao{
    font-size: 70px;
    margin-top: 30px;
    margin-left: 12%;
}
.TextEvolucao2{
    font-size: 30px;
    margin-top: -13%;
    margin-left: -90px;
}
.Ancora2{
    display: flex;
    justify-content: space-between;
}
.ButtonConscientizacao{
    padding: 10px 30px;
    font-size: 17px;
    color: #FFFFFF;
    margin-top: 10px;
    text-align: center;}

  /* apresentação */
  .Pagina2{
    background-color: #472B5E;
  }
  .BotaoVoltar{
    margin-right: 80%;
    margin-top: 10;
  }
  .Inicio{
    display: flex;
    justify-content: center;
    margin-top: 30px;
 }
 .Celularimg{
    height: 640px;
    margin-left:7%;
 }
 .Inicio h1{
    font: 900 18px 'Archivo Black','Mont', sans-serif; 
    font-size: 90px;
line-height: 109px;
margin-top: 6%;
color: #FFFFFF;
text-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
 }
 /* o que é */
 .LinhaMetade{
    background-color: #ffffff;
    height: 4px;
    margin-bottom: 40px;
    width: 750px;
}
.DivisaoLinhas{
   float: right;
  margin-right:200px;
  margin-top: 90px;
  display:flex;
}
.DivisaoLinhas h2{
    color: #FFFFFF;
    font-size: 65px;
text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
margin-top: -40px;
margin-left: 10px;
}
/* videos */
.LinhaMetade{
background-color: #ffffff;
height: 4px;
margin-bottom: 20px;
width: 820px;
margin-left: 230px;}

.TextLine{
display: grid;
    grid-template-columns: repeat(2, 1fr); 
    padding: 3rem 8rem;
}
.ParagrafoDireita{
    color: #FFFFFF;
    font-size: 35px;
line-height: 54px;
text-align: center;
}

.LineVertical1{
    border-left: 1px solid white;
    height: 220px;
    position: absolute;
   margin-top: -300px;
    left: 50%;
    color: #FFFFFF;
}
.ParagrafoEsquerda{
    color: #FFFFFF;
    font-size: 35px;
line-height: 54px;
text-align: center;
}

.TextLin{
    display: flex;
    /* float: left; */
    margin-right: 90px;
    margin-left: 90px;
    padding: 3rem 3rem;
    }

.LineVertical2{
            border-left: 1px solid white;
            height: 240px;
            position: absolute;
           margin-top: 10px;
            left: 50%;
            color: #FFFFFF; 
        }
.ImgDireita:hover{
    content: url("Property\ 1=Variant13.png");
}
.Transição1:hover{
    content: url("Property\ 1=Variant12.png");
}
/* conscientização */
.SecaoTitulo{
    padding: 160px 0 0 0;
}
.SecaoTitulo h1{
    font-size: 55px;
margin-right: 50px;
color: #FFFFFF;
text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
}
.Transição2:hover{
    content: url("Property\ 1=Variant14.png");
}
.LineVertical3{
    border-left: 1px solid white;
    height: 310px;
    position: absolute;
   margin-top: -23rem;
    left: 50%;
    color: #FFFFFF; 
}
.ParagrafoDireita1{
    color: #FFFFFF;
    font-size: 35px;
line-height: 54px;
text-align: justify;
margin-left: 25px;

}
/* como ajudar */
.SecaoTitulos1{
    padding: 100px 0 0 0;
}
.SecaoTitulos1 h1{
    font-size: 55px;
margin-right: 50px;
color: #FFFFFF;
text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
}
.ParagrafoEsquerda1{
    color: #FFFFFF;
    font-size: 35px;
line-height: 34px;
text-align: justify;
margin-right: 200px;
}
.LineVertical4{
    border-left: 1px solid white;
    height: 370px;
    position: absolute;
   margin-top: -1rem;
    left: 50%;
    color: #FFFFFF; 
}
.ImgDireita1:hover{
    content: url("Property\ 1=Variant15.png");
}
.BordaRoxa{
    font-size: 30px;
text-align: center;
color: #000000;
background: #CAADE3;
box-shadow: 15px 15px 4px rgba(0, 0, 0, 0.25);
border-radius: 50px;
margin: 5px 130px;
padding: 20px 0;
}
.LineVertical5{
    border-left: 1px solid white;
    height: 46rem;
    position: absolute;
   margin-top: 1rem;
    left: 50%;
    color: #FFFFFF; 
}
.Transição4{
   margin-top: 40px;
}
.Transição5{
    margin-top: -65%;
}
.LineVertical6{
    border-left: 1px solid white;
    height: 27rem;
    position: absolute;
   margin-top: 1rem;
    left: 50%;
    color: #FFFFFF; 
}
.LineVertical7{
    border-left: 1px solid white;
    height: 38rem;
    position: absolute;
   margin-top: 1rem;
    left: 50%;
    color: #FFFFFF; 
}
.ParagrafoDireita2{
    color: #FFFFFF;
    font-size: 35px;
line-height: 48px;
text-align: justify;
margin-left: 25px;
}
.Transição7{
    margin-top: -17rem;
}
.ImgDireita2{
    margin-left: 48rem;
    margin-top: -10rem;
    width: 35%;
}
.ImgDireita1{
    margin-top: 20px;
}
.LineVertical8{
    border-left: 1px solid white;
    height: 27rem;
    position: absolute;
   margin-top: -32rem;
    left: 50%;
    color: #FFFFFF; 
}
.ParagrafoEsquerda2{
    color: #FFFFFF;
    font-size: 35px;
line-height: 44px;
text-align: justify;
margin-right: 200px;
}
.ParagrafoDireita3{
    color: #FFFFFF;
    font-size: 35px;
line-height: 47px;
text-align: justify;
margin-left: 25px;

}
/* inclusao */
.Divisao{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    padding: 3rem 1rem;
}
#imagens{
   padding-top: 2rem;
   padding-left: 15rem;
}
.imagem01{
    margin-top: 2rem;
}
.paragrafo1{
    left: 50rem;
    font-size: 32px;
line-height: 44px;
text-align: justify;
width: 32rem;
color: #FFFFFF;
position: absolute;
}
/* protesto */
.ImagensProtesto{
    display: flex;
  margin-top: 5px;
  /* margin-left: 1rem; */
}
/* .imgprotesto, .imgprotesto1, .imgprotesto2{
    /* margin-right:  10rem;} */

 
.Assinatura2{
    color: #FFFFFF;
    width: 190px;
}
.imgconscientizacao{
  padding: 5px;
  width: 40px;
  margin: 0 170px 70px 0;
}
/* Rodapé */
.RodapéPaginas1{
    width: 100%;
    background: #CAADE3;
}
/* MEIO AMBIENTE - TERCEIRA PAGINA */
.MeioAmbiente{
    background-color: #5D381B;
}
.Faixa2{
    height: 150px;
    background-color: #AE6932;
}
/* APRESENTAÇÃO */
 .Inicio1{
    display: flex;
    justify-content: center;
    padding: 5REM 4REM;
    /* margin-top: 30px; */
 }
.Maoimg{
    height: 620px;
    margin-left:10PX;
    margin-top: -40px;
 }
 .Inicio1 h1{
font-size: 100px;
margin-top: 10px;
color: #FFFFFF;
 }
 .Inicio1 P{
    font-size: 40px;
    line-height: 54px;
    text-align: justify;
    color: #FFFFFF;
 }
 .Espaço{
    margin-top: 6%;
 }
 /* O QUE É */
 .LinhaMetade1{
    background-color: #ffffff;
    height: 4px;
    margin-bottom: 40px;
    display: flex;
    width: 750px;

}
.DivisaoLinhas1{
   float: left;
   margin-top: 45px;
   margin-left: 60px;
 
 }
 .LinhaMetade1{
    margin-left: 102%;
    margin-top: -70px;
    color: white;
    height: 4px;
    width: 300px;
    margin-bottom: 40px;
 }
 .DivisaoLinhas1 h2{
    font-size: 86px;
display: flex;
align-items: center;
text-align: center;
margin-bottom: 20px;

color: #FFFFFF;
 }
 .img1:hover{
    content: url(/img/Property\ 1=Group\ 88.png);
    text-align: center;
    margin-left: 100px;
 }
 .SeçaoTexto{
    display:inline-block;
    text-align: justify;
    color: #FFFFFF;
    margin: 0 90px;
 }
 .SeçaoTexto p{
    font-size: 40px;
    margin: 20px 0 30px;
 }
 .borda{
    background: rgba(222, 131, 61, 0.42);
border-radius: 25px;
padding: 30px 45px;
 }
 .LinePonto{
    color: #FFFFFF;
 }
 .PontoLinha1{
  height:4px;
 color: #FFFFFF;
    width: 200px;
    margin-bottom: 20px;
 }
 /* .img{
    display: flex;
    justify-content: center;
 } */
 /* .img:hover{
    content: url(Property\ 1=Group\ 88.png);
    display: flex;
    justify-content: center;
 } */
 /* SLOW FASHION */
 
.parag, .parag1{
    width: 100%;
    min-height: 10VH;
    display: flex;
    font-size: 40PX;
    padding: 5% 9%;
}
/* .parag1{
    margin-left: 12%;
} */
.tEXTOvERTICAL1:nth-of-type(1){
    color: #ffffff;
    writing-mode: vertical-lr;
    text-orientation: upright;
}
.tEXTOvERTICAL:nth-of-type(2){
    color: #ffffff;
    writing-mode: vertical-lr;
    text-orientation: upright;
    letter-spacing: 13px;
}
.tEXTOvERTICAL1{
    background: rgba(35, 65, 30, 0.76);
border-radius: 25px;
font-weight: bold;
letter-spacing: 13px;
}
.LinhaVertical{
    border-left: 1px solid white;
    height: 60%;
    position: absolute;
   margin-top: -35%;
   right: 85%;
    color: #FFFFFF;
}
.parag1 .LinhaVertical{
    border-left: 1px solid white;
    height: 50%;
    position: absolute;
   margin-top: 5%;
   right: 9.2%;
    color: #FFFFFF;
}
.containertext{
    display: flex;
    float: left;
    align-items: center;
text-align: justify;

margin-top: -31rem;
}
.containertext img{
    height: 450px;
    z-index: 5px;
}
.containertext p{
    font-size: 34px;
    color: #FFFFFF;
    margin-left: 17rem;
}

.containertext1{
    display: flex;
    float:right;
    align-items: center;
text-align: justify;
margin-top: -1rem;
}
.containertext1 img{
    height: 450px;
   
}
.containertext1 p{
    font-size: 34px;
    color: #FFFFFF;
    margin-right: 14rem;
    z-index: 5px;
}
.lineDesfile155{
    background-color: #ffffff;
    height: 1px;
   width: 40rem;
  margin: -7px 650px 10px 430px;
}
.SobreRealidade h1{
    color: #061d01;
    margin-right: 55px;
   
    font-size: 60px;
}
.SobreRealidade p{
    font-size: 36px;
display: flex;
align-items: center;
text-align: center;
padding: 0 10px;
color: #FFFFFF;
}
.SobreRealidade h2{
    color: #FFFFFF;
    margin-right: 55px;
    font-size: 60px;

}
.SobreRealidade{
    text-align: center;
    margin-top: 17rem;
    margin-bottom: 30px;
    
}
/* beneficios empresariais */
.ImagemCenter{
    /* float:left; */
    width:100%;
    height:560px;
}
.RetanguloMarrom{
    /* float:left; */
    width:100%;
    height:800px;
    background-color: #93582A;
    margin-top: -3px;
}
.RetanguloMarrom p{
font-size: 32px;

text-align: center;
    margin-top: 1rem;
    margin-bottom: 30px;
color: #FFFFFF;
}
.cartao1:hover{
    content: url(/img/Property\ 1=Group\ 118.png);
}
.cartao2:hover{
    content: url(/img/Property\ 1=Group\ 119.png);
}
.cartao3:hover{
    content: url(/img/Property\ 1=Group\ 120.png);
}
.cartao4:hover{
    content: url(/img/Property\ 1=Group\ 121.png);
}
/* LIVROS */
 .linha{
    background-color: #ffffff;
height: 4px;
margin-bottom: 20px;
width: 820px;
}
 .SecaoLivros{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 0 9%;
    margin: 50px 160px 15px;
 }
 .SecaoLivros h1{
    font-size: 70px;
color: #FFFFFF;

 }
.Linha{
    background-color: #ffffff;
    height: 1px;
    margin-bottom: 20px;
   width: 500px;
  margin-left: 70px;
}
.Container1 h1{
    margin: 0 130px;
    color: #FFFFFF;
    font:700 30px 'Mont', sans-serif
}
.Container1{
    margin-top: 150px;
}
.Container1 p{
    font:700 20px 'Mont', sans-serif;
    margin-left: 200px;
    color: #AE6932;
}
.Container2{
    display: flex;
    margin-top: 2%;
}
.imagensesquerda h1{
    margin: 0 90px;
    color: #FFFFFF;
    font:700 30px 'Mont', sans-serif;
    
}
.imagensesquerda p{
    font:700 20px 'Mont', sans-serif;
    margin-left: 50px;
    color: #AE6932;
}
.imagensesquerda{
    margin: 5% 50% 0 10%;
}

.ss{
    margin-left: 65%;
    margin-top: -18%;
}
.Linha1{
    background-color: #ffffff;
    height: 1px;
    margin-bottom: 20px;
   width: 500px;
  margin-left: 30px;
}
.imagensesquerda{
    margin-top: 15%;
}
/* rodape */
.RodapéPaginas3{
    width: 100%;
    background: #AE6932;
}
.planta1{
    position: absolute;
}
.planta2{
    position: absolute;
    left: 85%;
}
